* {
    margin: 0;
    padding: 0;
}

p {
    font-size: 35px; 
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

body, html {
  height: 100%;
}

.parallax {  
    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    height: 100%;
    background-color: white;
}

.intro {
    height: 480px;
}
